<!-- "About" section #1 -->
{{ if .Site.Data.about.enable }}
<section class="about section" id="about">
    <div class="container">
        <!-- Heading -->
        {{ with .Site.Data.about.heading }}{{ partial "main/heading" . }}{{ end }}

        <!-- "We're ..." blocks -->
        <div class="row">
            {{ range .Site.Data.about.aboutItem }}
            <div class="col-lg-4 text-center wow fadeInUp" data-wow-duration="500ms">
                <div class="block">
                    <div class="icon-box">
                        {{with .icon}}<i class="{{ . }}"></i>{{ end }}
                    </div>
                    <div class="content text-center">
                        {{ with .title }}<h3 class="ddd">{{ . }}</h3>{{ end }}
                        <p>{{ .content | markdownify }}</p>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}

<!-- "About" section #2 -->
{{ if .Site.Data.about2.enable }}
<section class="section section-dark about-2 padding-0" id="about2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 padding-0 ">
                <img class="img-fluid" src="{{ .Site.Data.about2.image | absURL }}" alt="About Us image">
            </div>
            <div class="col-lg-6">
                <div class="content-block">
                    {{ with .Site.Data.about2.title }} <h2>{{ . }}</h2> {{ end }}
                    {{ with .Site.Data.about2.description }} <p>{{ . }}</p> {{ end }}
                    {{ with .Site.Data.about2.description2 }} <p>{{ . }}</p> {{ end }}
                    <div class="row">
                        {{ range .Site.Data.about2.aboutItem }}
                        <div class="col-lg-6">
                            <div class="media">
                                <div class="align-self-start mr-3">
                                    {{with .icon}} <i class="{{ . }}"></i> {{ end }}
                                </div>
                                <div class="media-body">
                                    {{ with .title }} <h4 class="media-heading">{{ . }}</h4>{{ end }}
                                    {{ with .content }} <p>{{ . }}</p> {{ end }}
                                </div>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
