{{ if .Site.Data.service.enable}}
<section id="services" class="section">
    <div class="container">
        <!-- Heading -->
        {{ with .Site.Data.service.heading }}{{ partial "main/heading" . }}{{ end }}

        <!-- Service blocks -->
        <div class="row">
            {{ range .Site.Data.service.serviceItem}}
            <article class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-duration="500ms">
                <div class="service-block text-center">
                    <div class="service-icon text-center">
                        <i class="{{ .icon }}"></i>
                    </div>
                    <h3>{{ .title }}</h3>
                    <p>{{ .content }}</p>
                </div>
            </article>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
