{{ define "main" }}

{{ partial "main/navigation.html" . }}

<section id="single-tag" class="section">
    <div class="container">
        <!-- Heading -->
        {{ with printf "%s: %s" (T "tag") .Title }}{{ partial "main/heading" . }}{{ end }}

        <!-- Navigation menu -->
        {{ partial "blog/navbar" . }}

        <!-- List of posts having the tag -->
        <div class="row">
            {{ range .Data.Pages }}
            {{ .Render "list-item" }}
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
