{{ define "main" }}

{{ partial "main/navigation.html" . }}

<section id="tag-list" class="section">
    <div class="container">
        <!-- Heading -->
        {{ with T "blogTags" }}{{ partial "main/heading" . }}{{ end }}

        <!-- Navigation menu -->
        {{ partial "blog/navbar" . }}

        <!-- Tag cloud -->
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline tag-cloud">
                    {{ range .Data.Terms.Alphabetical }}
                        {{- $cls := "tag-size-1" }}
                        {{- if      ge .Count 100 }}{{ $cls = "tag-size-7" }}
                        {{- else if ge .Count 50  }}{{ $cls = "tag-size-6" }}
                        {{- else if ge .Count 20  }}{{ $cls = "tag-size-5" }}
                        {{- else if ge .Count 10  }}{{ $cls = "tag-size-4" }}
                        {{- else if ge .Count 5   }}{{ $cls = "tag-size-3" }}
                        {{- else if ge .Count 2   }}{{ $cls = "tag-size-2" }}
                        {{- end -}}
                        <li class="list-inline-item {{$cls}}"><a href="{{ .Page.Permalink }}" title="{{ T `numPages` .Count }}">{{ .Page.Title }}</a></li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</section>

{{ end }}
