{{ define "main" }}
    {{ partial "main/hero-area.html"    . }}
    {{ partial "main/navigation.html"   . }}
    {{ partial "main/about.html"        . }}
    {{ partial "main/cta.html"          . }}
    {{ partial "main/service.html"      . }}
    {{ partial "main/skill.html"        . }}
    {{ partial "main/portfolio.html"    . }}
    {{ partial "main/counter.html"      . }}
    {{ partial "main/team.html"         . }}
    {{ partial "main/pricing.html"      . }}
    {{ partial "main/testimonial.html"  . }}
    {{ partial "main/latest_posts.html" . }}
    {{ partial "main/contact.html"      . }}
{{ end }}
